// Centra elementi
@import './vars.scss';
 
@mixin button($type: '') {
    button {
        border: none;
        padding: 12px 25px;
        font-size: 0.7rem;
        text-transform: uppercase;
        cursor: pointer;
        transition: .5s all;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
    @if $type=='BtnGreen' {
        button {
            background-image: $buyBtn;
            box-shadow: 0px 0px 15px 0px $shadowButton;
            

            &:hover {
                background-image: $footerBottom;
                box-shadow: 0px 0px 15px 0px $shadowButtonDark;
            }
        }
    }
    @else if $type=='BtnDark' {
        button {
            background-image: $footerBottom;
            box-shadow: 0px 0px 15px 0px $shadowButtonDark;
            
            &:hover {
                background-image: $buyBtn;
                box-shadow: 0px 0px 15px 0px $shadowButton;
            }
        }
    }
}

