// qui assegno delle variabili ai pattern di colori

$headerTop: #000000E6;

$headerBottom: #FFFFFF;

$numberPhone: #AAAAAA;

$SocialIcon: #FFFFFF;

$logoLine: #E5E3DF;

$Text: #3D3D3D;

$footerText: #AAAAAA;

$buyBtn: linear-gradient(to right, #9ACD32 , #00D9A6);

$search: #00D9A6;

$footerBottom: linear-gradient(to right, #3D3D3D , #000000E6)

